.logo-area {
	height: 40px;
	display: block;
	background-color: black;
}

.header-bookmark {
	height: 50px;
	width: 60%;
	line-height: 50px;
	position: absolute;
	top: 0px;
	left: 20%;
	padding: 0 20px;
	z-index: 2;
	border-radius: 9px;
	color: white;
	background-color: black;
	cursor: default;

	.header-tooltip {
		display: inline-block;
		cursor: pointer;

		.arrow {
			font-size: 0.5em;
		}
	}

	.vertical-line {
		padding: 0 5px;
		font-size: 0.7em;
	}

	&::before {
		width: 1px;
		height: 61px;
		content: "";
		display: inline-block;
		position: absolute;
		left: -14px;
		top: -16px;
		border-left: 1px solid white;
		border-radius: 1px;
		background-color: black;
		-webkit-transform: rotate(-25deg);
	    -moz-transform: rotate(-25deg);
	    -ms-transform: rotate(-25deg);
	    -o-transform: rotate(-25deg);
	    transform: rotate(-25deg);
	}

	&::after {
		width: 1px;
		height: 61px;
		content: "";
		display: inline-block;
		position: absolute;
		right: -14px;
		top: -16px;
		border-right: 1px solid white;
		border-radius: 1px;
		background-color: black;
		transform: rotate(25deg);
	}
}
