.wrapper {
    margin-left: 20px;
	position: absolute;
	left: 0px;
	transition: left .4s;

	.option {
		height: 40px;
		width: 40px;
		line-height: 40px;
		margin-top: 30px;
		display: block;
		border: 2px solid grey;
		border-radius: 50%;
		color: grey;
		text-decoration: none;
		text-align: center;

		&:hover {
			color: white;
			background-color: black;
			border-color: white;
		}
	}

	a:first-child {
		margin: 0px;
	}

	.rotate {
		transform: rotate(90deg);
	}

	.active {
		color: white;
		background-color: black;
		border-color: white;
	}
}

.toLeft {
	left: -80px;
}
