<div class='wrapper' [ngClass]="{ 'toLeft': navigationButtonClick.shouldMoveMenu }">
	<a href='/speed' class='option first'>
		<i class="fas fa-tachometer-alt icon"></i>
	</a>

	<a href='#' class='option'>
		<i class="fab fa-sistrix rotate icon"></i>
	</a>

	<a href='#' class='option'>
		<i class="fas fa-list-ul icon"></i>
	</a>

	<a href='#' class='option'>
		<i class="fas fa-briefcase icon"></i>
	</a>

	<a href='#' class='option'>
		<i class="fas fa-database icon"></i>
	</a>

	<a href='#' class='option'>
		<i class="fas fa-upload icon"></i>
	</a>
</div>
