:host {
	position: relative;
    top: 13px;
	width: calc(98% - 84px);
	height: 390px;
	padding-left: 5%;
	margin-right: 2%;
	display: inline-block;
	position: relative;
	background-color: white;
	box-shadow: 0px 0px 20px rgb(200, 200, 200);
}
