.wrapper {
	height: calc(100% - 111px);
	padding-left: 5%;
	margin: 0 2% 0 80px;
	transition: margin .4s;
	background-color: white;
	box-shadow: 0px 0px 20px rgb(200, 200, 200);
	overflow: auto;
}

.toLeft {
	margin: 0 2% 0 0;
}
